/* Global Styles */

@font-face {
    font-family: HermesRegular;
    src: url(../font/Hermes-Regular.otf);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:black;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    color:white;
}

/* Navigation */

#main-nav {
    background-color: #041625;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 0;
}

.sidenav-trigger {
    display:block!important;
}

#slide-out {
    background-color: #041625;
}

#slide-out > li > a {
    color:white;
}

#main-nav-wrapper {
    padding: 0 1rem 0 1rem;
}

/* Header Section */

#home-page {
    background-color: black;
}

#index-banner {
    min-height: calc(100vh - 65px);
    min-height: -o-calc(100vh - 65px);
    min-height: -webkit-calc(100vh - 65px);
    min-height: -moz-calc(100vh - 65px);
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.webp #index-banner {
    background: url("../images/backgrounds/Website_Banner_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-webp #index-banner {
    background: url("../images/backgrounds/Website_Banner_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-js #index-banner {
    background: url("../images/backgrounds/Website_Banner_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#nextSection {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    transition: all 0.2s ease-in-out;
}

#nextSection:hover {
    transform: scale(1.1);
}

.header-flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction:row;
    transform: scale(1.2);
    padding-bottom: 2rem;
}

@media screen and (max-width: 1300px) {
    .header-flex-container {
        flex-direction:column;
        transform: scale(1);
        padding-bottom:0;
    }
    .row .col.m4 {
        width:95%;
    }
    #firstImage, #thirdImage {
        display: none;
    }
}

.brand-logo {
    font-family:HermesRegular;
}

/* Videos Produced Section */

#videosSection {
    background: linear-gradient(rgba(27, 27, 27, 0.3), rgba(27,27,27,.3)), url('../images/backgrounds/sectbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.webp #videosSection {
    background: linear-gradient(rgba(27, 27, 27, 0.3), rgba(27,27,27,.3)), url("../images/backgrounds/sectbg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-webp #videosSection {
    background: linear-gradient(rgba(27, 27, 27, 0.3), rgba(27,27,27,.3)), url("../images/backgrounds/sectbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-js #videosSection {
    background: linear-gradient(rgba(27, 27, 27, 0.3), rgba(27,27,27,.3)), url("../images/backgrounds/sectbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#video-card {
    background:rgba(255,255,255,.075);
    transition: all 0.2s ease-in-out;
}

#video-card:hover {
    transform: scale(1.03);
}

#icon-adjust {
    top:60%;
    position:absolute;
    left:0;
    right:0;
    transform: translateY(-60%);
}

.card-content {
    height: 7rem;
    overflow:hidden;
}

/* Podcast Section */

#podcastSection {
    background: linear-gradient(rgba(27, 27, 27, 0.3), rgba(27,27,27,.3)), url('../images/backgrounds/sectbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.webp #podcastSection {
    background: linear-gradient(rgba(27, 27, 27, 0.3), rgba(27,27,27,.3)), url("../images/backgrounds/sectbg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-webp #podcastSection {
    background: linear-gradient(rgba(27, 27, 27, 0.3), rgba(27,27,27,.3)), url("../images/backgrounds/sectbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-js #podcastSection {
    background: linear-gradient(rgba(27, 27, 27, 0.3), rgba(27,27,27,.3)), url("../images/backgrounds/sectbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#podcastCard {
    background:rgba(255,255,255,.075);
    transition: all 0.2s ease-in-out;
}

#podcastCard:hover {
    transform: scale(1.03);
}

/* About Us Page */

#aboutUsSection {
    background: linear-gradient(rgba(27, 27, 27, 0.3), rgba(27,27,27,.3)), url('../images/backgrounds/sectbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.webp #abousUsSection {
    background: linear-gradient(rgba(27, 27, 27, 0.3), rgba(27,27,27,.3)), url("../images/backgrounds/sectbg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-webp #abousUsSection {
    background: linear-gradient(rgba(27, 27, 27, 0.3), rgba(27,27,27,.3)), url("../images/backgrounds/sectbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-js #abousUsSection {
    background: linear-gradient(rgba(27, 27, 27, 0.3), rgba(27,27,27,.3)), url("../images/backgrounds/sectbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

/* Contact Page */

.contact-page {
    background: url("../images/backgrounds/Website_Banner_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.webp .contact-page {
    background: url("../images/backgrounds/Website_Banner_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-webp .contact-page {
    background: url("../images/backgrounds/Website_Banner_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-js .contact-page {
    background: url("../images/backgrounds/Website_Banner_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

input, label, textarea {
    color:white;
}

/* Gallery Page */

#gallery-page {
    background: url("../images/backgrounds/website_banner_blurred.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.webp #gallery-page {
    background: url("../images/backgrounds/website_banner_blurred.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-webp #gallery-page {
    background: url("../images/backgrounds/website_banner_blurred.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-js #gallery-pagedy {
    background: url("../images/backgrounds/website_banner_blurred.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.image-grow:hover {
    transform: scale(1.04);
}

.image-grow {
    transition: all 0.2s ease-in-out;
}

/* Footer Section */

.page-footer {
    background-color: black;
    color:white;
}

#socialIcons {
    display:flex;
    justify-content: space-evenly;
    width:40%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

#socialIcons > a {
    color: white;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width:425px) {
    #socialIcons {
        width:80%;
    }
}

#socialIcons > a:hover {
    transform: scale(1.1);
}

#styledList > a > li {
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    transition: all 0.2s ease-in-out;
}

#styledList > a > li:hover {
    transform: scale(1.1); 
}

#styledList > a > li:first-child {
    border-top: 1px solid rgba(255,255,255,0.15)
}
/* Packages Page */

#packages-page {
    background: url("../images/backgrounds/website_banner_blurred.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.webp #packages-page {
    background: url("../images/backgrounds/website_banner_blurred.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-webp #packages-page {
    background: url("../images/backgrounds/website_banner_blurred.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.no-js #packages-page {
    background: url("../images/backgrounds/website_banner_blurred.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.fa-apple-music .fa-music:before {
    content: '\266B';
    color: #eb1111;
  }
  .fa-apple-music .fa-music {
    color: #eb1111;
  }
  .fa-apple-music-o .fa-music {
    color: #000000ea;
    font-size: 75rem;
    line-height: 1.90rem;
  }